# Ignore IntelliJ IDEA related files/folders
.idea/
*.iml

# Ignore build output
out/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.log
*.class

# Ignore other folders if needed
target/
build/
